@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$font-stack:'Red Hat Display', sans-serif;

main {
    padding: 0;
    margin: 0;
}
.wavy{
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    padding: 10% 30%;
}

.medium {
    font-family: $font-stack;
    font-weight: 500;
    font-size: 16px;
    margin: 0px 50px;
    color: #717FA6;
}

.bold {
    font-family: $font-stack;
    font-weight: 700;
    font-size: 28px;
}

.black-bold {
    font-family: $font-stack;
    font-weight: 900;
}

.container {
    border-radius: 20px;
}

img {
    border-radius: 20px;
}

.textbox {
    background-color: white;
    border-radius: 20px;
    padding-bottom: 100px;
}


.banner {
    background-image: url(./images/illustration-hero.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 120px 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
}

.music-plan{ 
    padding: 25px 70px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #F7F9FF;
}

.music-box-spacing {
    display: flex;
    justify-content: flex-start;
    margin-left: -7vh;
}

.change {
    color: #382AE1;
    text-decoration: underline 1px #382AE1;
    font-family: $font-stack;
    cursor: pointer;
      &:active{
        color: #766CF1;
        text-decoration: none;
      }
}

.cancel {
    color: #717FA6;
    font-family: $font-stack;
    cursor: pointer;
      &:active {
        color: #1F2E55;
      }
}
.button-payment { 
    padding: 20px 0px;
    color: white;
    background-color: #382AE1;
    font-family: $font-stack;
    font-weight: 700;
    border: none;
      &:active {
        background-color: #698DFF;
      }
}
