@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
main {
  padding: 0;
  margin: 0;
}

.wavy{
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    padding: 100px 400px;
}

.medium {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0px 50px;
  color: #717FA6;
}

.bold {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 28px;
  padding-top: 20px;
}

.black-bold {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
}

.container {
  border-radius: 20px;
}

img {
  border-radius: 20px;
}

.textbox {
  background-color: white;
  border-radius: 20px;
  padding-bottom: 40px;
}

.banner {
  background-image: url(./images/illustration-hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.music-plan {
  padding: 25px 70px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #F7F9FF;
}

.music-box-spacing {
  display: flex;
  justify-content: flex-start;
  margin-left: -7vh;
}

.change {
  color: #382AE1;
  -webkit-text-decoration: underline 1px #382AE1;
          text-decoration: underline 1px #382AE1;
  font-family: "Red Hat Display", sans-serif;
  cursor: pointer;
}
.change:hover {
  color: #766CF1;
  text-decoration: none;
}

.cancel {
  color: #717FA6;
  font-family: "Red Hat Display", sans-serif;
  cursor: pointer;
  padding-top: 20px;
}
.cancel:hover {
  color: #1F2E55;
}

.button-payment {
  padding: 4% 26%;
  color: white;
  background-color: #382AE1;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  border: none;
  filter: drop-shadow(0px 15px 10px #BDB8F4);
}
.button-payment:hover {
  background-color: #698DFF;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 5%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 767.98px) {
  .wavy {
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 10px;
  }
  .button-payment {
    padding: 4% 25%;
  }
  .music-plan {
    margin-left: 10px;
    margin-right: 10px;
  }
  .cancel {
    padding-top: 5px;
  }
  .textbox {
    padding-bottom: 25px;
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .wavy {
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 17%;
  }
  .button-payment {
    padding: 4% 25%;
  }
  .music-plan {
    margin-left: 60px;
    margin-right: 60px;
  }
  .music-box-spacing {
    display: flex;
    justify-content: flex-start;
    margin-left: -7vh;
  }
}
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .wavy {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10% 25%;
  }
  .music-plan {
    margin-left: 60px;
    margin-right: 60px;
  }
}/*# sourceMappingURL=index.css.map */
